.toast-styling {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 3px;
  position: fixed;
  top: 10px;
  right: 10px;
  border-top: 2px solid;
  border-color: red;
  background: #ffcccc;
}

.svg-icon {
  width: 1rem;
  height: 1rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
img {
  height: 2rem;
  width: 2rem;
}
